name: Check Releases

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"  # Runs every day at 12:00 AM UTC

jobs:
  aqua:
    uses: ./.github/workflows/check-release-template.yml
    with:
      item-id: aqua
      github-org: AquaWallet
      github-repo: aqua-wallet
      platforms: android,ios
      latestRelease: true
  bitcoin-keeper:
    uses: ./.github/workflows/check-release-template.yml
    with:
      item-id: bitcoin-keeper
      github-org: bithyve
      github-repo: bitcoin-keeper
      platforms: android,ios
      latestRelease: true
  blueWallet-android:
    uses: ./.github/workflows/check-release-template.yml
    with:
      item-id: bluewallet
      github-org: BlueWallet
      github-repo: BlueWallet
      platforms: android
      allReleases: true
      assetsMatch: "apk"
  blueWallet-ios:
    uses: ./.github/workflows/check-release-template.yml
    with:
      item-id: bluewallet
      github-org: BlueWallet
      github-repo: BlueWallet
      platforms: ios
      allReleases: true
      assetsMatch: "ipa"
  blueWallet-macos:
    uses: ./.github/workflows/check-release-template.yml
    with:
      item-id: bluewallet
      github-org: BlueWallet
      github-repo: BlueWallet
      platforms: macos
      allReleases: true
      assetsMatch: "dmg"
  electrum:
    uses: ./.github/workflows/check-changelog-template.yml
    with:
      item-id: electrum
      changelog-url: https://raw.githubusercontent.com/spesmilo/electrum/master/RELEASE-NOTES
      platforms: windows,macos,linux,android
  envoy:
    uses: ./.github/workflows/check-release-template.yml
    with:
      item-id: envoy
      github-org: Foundation-Devices
      github-repo: envoy
      platforms: android,ios
      latestRelease: true
  green-desktop:
    uses: ./.github/workflows/check-release-template.yml
    with:
      item-id: green
      github-org: Blockstream
      github-repo: green_qt
      platforms: windows,macos,linux
      latestRelease: true
  green-android:
    uses: ./.github/workflows/check-release-template.yml
    with:
      item-id: green
      github-org: Blockstream
      github-repo: green_android
      platforms: android
      latestRelease: true
  green-ios:
    uses: ./.github/workflows/check-release-template.yml
    with:
      item-id: green
      github-org: Blockstream
      github-repo: green_ios
      platforms: ios
      latestRelease: true
  liana:
    uses: ./.github/workflows/check-release-template.yml
    with:
      item-id: liana
      github-org: wizardsardine
      github-repo: liana
      platforms: windows,macos,linux
      latestRelease: true
  mutiny-mobile:
    uses: ./.github/workflows/check-release-template.yml
    with:
      item-id: mutiny
      github-org: MutinyWallet
      github-repo: mutiny-web
      platforms: android,ios
      latestRelease: true
  mutiny-start-os:
    uses: ./.github/workflows/check-release-template.yml
    with:
      item-id: mutiny
      github-org: benthecarman
      github-repo: mutiny-startos
      platforms: start-os
      latestRelease: true
  muun:
    uses: ./.github/workflows/check-changelog-template.yml
    with:
      item-id: muun
      changelog-url: https://raw.githubusercontent.com/muun/apollo/master/android/CHANGELOG.md
      platforms: android
  my-citadel-desktop:
    uses: ./.github/workflows/check-release-template.yml
    with:
      item-id: my-citadel
      github-org: mycitadel
      github-repo: mycitadel-desktop
      platforms: windows,macos,linux
      latestRelease: true
  my-citadel-ios:
    uses: ./.github/workflows/check-release-template.yml
    with:
      item-id: my-citadel
      github-org: mycitadel
      github-repo: mycitadel-apple
      platforms: ios
      latestRelease: true
  nunchuk-android:
    uses: ./.github/workflows/check-release-template.yml
    with:
      item-id: nunchuk
      github-org: nunchuk-io
      github-repo: nunchuk-android
      platforms: android
      latestRelease: true
  nunchuk-desktop:
    uses: ./.github/workflows/check-release-template.yml
    with:
      item-id: nunchuk
      github-org: nunchuk-io
      github-repo: nunchuk-desktop
      platforms: windows,macos,linux
      latestRelease: true
  phoenix:
    uses: ./.github/workflows/check-release-template.yml
    with:
      item-id: phoenix
      github-org: ACINQ
      github-repo: phoenix
      platforms: android
      latestRelease: true
  simple-bitcoin-wallet:
    uses: ./.github/workflows/check-release-template.yml
    with:
      item-id: simple-bitcoin-wallet
      github-org: akumaigorodski
      github-repo: wallet
      platforms: android
      latestRelease: true
  sparrow:
    uses: ./.github/workflows/check-release-template.yml
    with:
      item-id: sparrow
      github-org: sparrowwallet
      github-repo: sparrow
      platforms: windows,macos,linux
      latestRelease: true
  specter:
    uses: ./.github/workflows/check-release-template.yml
    with:
      item-id: specter
      github-org: cryptoadvance
      github-repo: specter-desktop
      platforms: windows,macos,linux,umbrel-os
      latestRelease: true
  specter-start-os:
    uses: ./.github/workflows/check-release-template.yml
    with:
      item-id: specter
      github-org: Start9Labs
      github-repo: specter-startos
      platforms: start-os
      latestRelease: true
  stack-wallet:
    uses: ./.github/workflows/check-release-template.yml
    with:
      item-id: stack-wallet
      github-org: cypherstack
      github-repo: stack_wallet
      platforms: android,ios,windows,macos,linux
      allReleases: true
      allReleasesMatch: "Stack Wallet"
  ten-ten-one:
    uses: ./.github/workflows/check-release-template.yml
    with:
      item-id: ten-ten-one
      github-org: get10101
      github-repo: 10101
      platforms: android,ios
      latestRelease: true
  wasabi:
    uses: ./.github/workflows/check-release-template.yml
    with:
      item-id: wasabi-wallet
      github-org: zkSNACKs
      github-repo: WalletWasabi
      platforms: windows,macos,linux
      latestRelease: true